{% extends "shop/base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div class="registration-form">
	<div class="container">
		<div class="registration-grids">
			<div class="reg-form" style="float: none; margin: auto;">
				<div class="reg" style="text-align: center; width: 85%;margin: auto;">
				<h4>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</h4>
				<h4>You should be receiving it shortly.</h4>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}