{% extends "shop/base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
<div class="registration-form">
    <div class="container">
    <div class="dreamcrub">
                 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="{% url 'shop:home' %}" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Password Reset 
                    </li>
                </ul>
                <!-- <ul class="previous">
                    <li><a href="{% url 'shop:home' %}">Back to Previous Page</a></li>
                </ul> -->
                <div class="clearfix"></div>
               </div>
    <h2 style="text-align: center;">Password Reset</h2>
    <div class="registration-grids">
        <div class="reg-form" style="float: none; margin: auto; background-color: #F8F8F8; padding-left: 1em; padding-right: 1em;">
            <div class="reg">

    {% if validlink %}
        <p style="text-align: center; color: #816263;">Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">
           {% csrf_token %}
            
            <dl class="register">
                    {% for field in form %}
                            <dt style=" text-transform: uppercase; color: #816263; font-size: 16px;">
                            {{ field.label_tag }}</dt>
                            <dd class="clearfix">
                                <div style="margin-bottom: 1em;"">{{ field }}</div>
                                

                                {% if field.errors %}
                                    <div style="margin-bottom: 0;color: #cc1904; font-size: 16px;" class="myerrors clearfix">{{ field.errors }}</div>
                                {% endif %}
                            </dd>
                    {% endfor %}
            </dl>
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <h2 style="text-align: center;">Password reset unsuccessful</h2>
        <p style="text-align: center; color: #816263;">The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
                </div>
            </div>
            
        </div>
</div>
</div>

{% endblock %}