{% extends "shop/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="registration-form">
	<div class="container">
		<div class="registration-grids">
			<div class="reg-form" style="float: none; margin: auto;">
				<div class="reg" style="width: 70%; margin: auto;">
				<h3>Please specify your email address to receive 
				instructions for resetting it.</h3>
				<form action="." method="post">{% csrf_token %}
    				{{ form.email.errors }}
    			<p ><label for="id_email">E-mail address:</label> </p>
    				<div style="margin-bottom: 1em;">{{ form.email }} </div>
    				<div><input type="submit" style="float: right;" value="Reset password" /></div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}