{% extends 'shop/base.html' %}
{% load staticfiles %}
	    
{% block content %}
<div class="registration-form">
	<div class="container">
	<div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Change-password
                    </li>
                </ul>
                <!-- <ul class="previous">
                	<li><a href="#">Back to Previous Page</a></li>
                </ul> -->
                <div class="clearfix"></div>
			   </div>
		<h2>Change-password</h2>
		<div class="registration-grids">
			<div class="reg-form">
				<div class="reg">
					 <p>Lost password?</p>
  				
					
					 <form action="{% url 'shop:password_change' %}" method="post" name="Change-password" id="Change-password">
					 {% csrf_token %} 
						
						 <dl class="register">
							{% for field in form %}
    						<dt>{{ field.label_tag }}</dt>
    						<dd class="clearfix">
    							{{ field }}
    							

    							{% if field.errors %}
    								<div class="myerrors clearfix">{{ field.errors }}</div>
    							{% endif %}
    						</dd>
					{% endfor %}
					</dl>
						 					
						 <input type="submit" value="Change password">
						 
					 </form>
				 </div>
			</div>
			<div class="reg-right">
				 
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
</div>
{% endblock content%}

