{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block content %}
		
	<div class="content">
	<div class="container">
	<div class="login-page">
			    
			 <h1>Your order:</h1>
	<div style="float: left; margin-bottom: 2em;" id="order-place-table" class="order-info">
   	<table>
    <tr>
        <th>Item title</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for item in cart  %}
    	<tr>
    		<td>{{ item.product.title }}</td>
    		<td>{{ item.quantity }}</td>
    		<td>${{ item.total_price }}</td>
    	</tr>
    {% endfor %}
    <tr>
    	<td>Total:</td>
    	<td></td>
    	<td>${{ cart.get_total_price }}</td>
    </tr>

    </table>
    
  </div>
  
  <div class="reg-form">
	<div  class="reg " >
    
    <form id="order-place" target="_blank" style="margin-left: 1em; margin-top: 0;" action="" method="post">{% csrf_token %}
    <dl class="register">
      
            <ul>
               <li class="text-info">First Name: </li>
               {% if not user.first_name %}
               <li>{{form.first_name}}</li>
               {% else %}
                <li><input type="text" name="first_name" required="" id="id_first_name" maxlength="50" value="{{user.first_name}}"></li>
               {% endif %}
             </ul>
             <ul>
               <li class="text-info">Last Name: </li>
               
               {% if not user.last_name %}
               <li>{{form.last_name}}</li>
               {% else %}
                <li><input type="text" name="last_name" required="" id="id_last_name" value="{{user.last_name}}" maxlength="50"></li>
               {% endif %}

             </ul>    
             <ul>
               <li class="text-info">E-mail: </li>
               {% if not user.email %}
               <li>{{form.email}}</li>
               {% else %}
                <li style="padding-left: 5px;">{{user.email}}<input type="hidden" name="email" id="id_email" value="{{user.email}}"></li>
               {% endif %}
             </ul> 
             <ul>
               <li class="text-info">Address: </li>
               <li>{{form.address}}</li>
             </ul>
             <ul>
               <li class="text-info">Postal Code: </li>
               <li>{{form.postal_code}}</li>
             </ul>
             <ul>
               <li class="text-info">City: </li>
               <li>{{form.city}}</li>
             </ul>   
    	
    			<dd class="clearfix"></dd>
      	
	
      </dl>
      
      <input style="float: right;" type="submit" value="PLACE ORDER">
    </form>
  </div></div>
  

  
		   </div>
		</div>
	</div>
{% endblock content %}