{% extends "shop/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
     <div class="products-page">
      
        

  <h1 style="text-align:center; margin-bottom: 1em;">Your Orders</h1>
  
     <table class="cart" style=" margin: auto; width: 80%;">
        <thead>
          <tr>  
            <th style="text-align:center; width: 10%;">Order id</th>
            <th style="">Date</th>
            <th style="text-align:center;">Total Cost</th>
            <th style="text-align:center;">Paid Status</th>
          </tr>
        </thead>
        <tbody>

     {% for order in order_history %}
             {% if user.username == order.username %}
            
          <tr style="border-bottom: 1px solid #C8C8C8;">
            
            <td style="text-align: center;"><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></td>
            <td style="">{{order.created}}</td>
            <td style="text-align: center;" class="num">${{order.get_total_cost}}</td>
            <td style="text-align: center;" class="num">
            {%if order.paid == True %}
              Paid
            {% endif %}
            {% if order.paid == False%}
              Not paid
            {% endif %}
            </td>
          </tr>
      {% endif %}
      {% endfor %}
 </tbody></table>
  </div>
</div>
{% endblock %}