{% extends 'shop/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="content">
	<div class="container">
		<div class="banner-info" style="margin-top:2em;">>
{% if account %}
    <h3>{% trans "Activation successful" %}</h3>
    {% url auth_login as login_url %}
    <p>{% block trans %}You can now proceed to <a href="{% url 'shop:login' %}">login.</a>{% endblock trans %}</p>
{% else %}
    <h3>{% trans "Activation failed" %}</h3>
    <p>{% trans "Something went wrong while activating your account. This might mean that the activation code was wrong or that your account has already been activated." %}</p>
{% endif %}
</div></div></div>

{% endblock %}
