{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block content %}
		
	<div class="content">
	<div class="container">
		<div class="login-page">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="{% url 'shop:home' %}" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="{% url 'shop:home' %}">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
			   <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
			  	 <h2>NEW CUSTOMERS</h2>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
<a class="acount-btn" href="{% url 'shop:registration_register' %}">Create an Account</a>
			   </div>
			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
				{% if form.errors %}
					<p style="color:red;">
					Your username and password didn't match. Please try again.</p>
					{% endif %}

					{% if user.is_authenticated %}
    				<p>Your account doesn't have access to this page. To proceed,
    					please login with an account that has access.</p>
    				{% endif %}
				<form action="" method="post">
				
    				{% csrf_token %}

    				
    				<div>
    				
    				<span style="color: #816263;font-size: 16px;">Username<label>*</label></span>
    					{{ form.username }}
    				</div>
    				<div>
    				<span  style="color: #816263;font-size: 16px;">Password<label>*</label></span>
    					{{ form.password }}
    				</div>
    				<a class="forgot" href="{% url 'shop:password_reset' %} "> Forgot Your Password?</a>
				  	<input type="submit" value="Login">
    				
  				</form>

  				
  				
				
			   </div>	
			   <div class="clearfix"> </div>
			 </div>
		   </div>
		</div>
	</div>
{% endblock content %}