{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content">
	<div class="container">
		<div class="banner-info" style="margin-top:2em;">
<h3>Registration completed</h3>
<p>Thank you for your time. An email with an account activation link has been sent to your email address. </p><p>You have to click the verification link to verify your e-mail address and to be able to use all the advantages of the user account.</p><br/><br/>
</div></div></div>
{% endblock %}

