{% extends 'shop/base.html' %}
{% load staticfiles %}



{% block content %}
		<!-- content-section-starts -->
	
	<div class="registration-form">
	<div class="container">
	<div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="{% url 'shop:home' %}" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Add your comment
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="{% url 'shop:home' %}">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
		<h2 style="text-align: center;">Add your comment</h2>
		<div class="registration-grids">
			<div class="reg-form" style="float: none; margin: auto; background-color: #F8F8F8; padding-left: 1em; padding-right: 1em;">
				<div class="reg">
					 
					 <form action="" method="post" name="Registration_Form" id="edit_form">
					 {% csrf_token %} 
						
						 <dl class="register">
					{% for field in form %}
    						<dt style=" text-transform: uppercase; color: #816263; font-size: 16px;">
    						{{ field.label_tag }}</dt>
    						<dd class="clearfix">
    							<div style="margin-bottom: 1em;"">{{ field }}</div>
    							

    							{% if field.errors %}
    								<div style="margin-bottom: 0;color: #cc1904; font-size: 16px;" class="myerrors clearfix">{{ field.errors }}</div>
    							{% endif %}
    						</dd>
					{% endfor %}
					</dl>
						 					
						 <input type="submit" value="ADD COMMENT">
						  
					 </form>
				 </div>
			</div>
			
		</div>
	</div>
	
</div>

{%endblock%}