{% extends 'shop/base.html' %}
{% load staticfiles %}


{% block navbar %}

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        
			<li><a href="{% url 'shop:home' %}">Home</a></li>
			
			
			<li><a href="{% url 'shop:ProductList' %}">Products</a></li>
		    {# <li><a href="typography.html">TYPO</a></li> #}
			<li><a href="{% url 'shop:contact' %}">CONTACT</a></li>
	        </ul>
	    </div>
	    {% endblock navbar %}

{% block content %}
		<!-- content-section-starts -->
	<div class="container">
	   <div class="products-page">
			<div class="products">
				<div class="product-listy">
					<h2>our Products</h2>
					<ul class="product-list">
						
						<li><a href="/search/?search_box=T-shirt">T-shirts</a></li>
						<li><a href="/search/?search_box=Pant">Pants</a></li>
						<li><a href="/search/?search_box=Dres">Dress</a></li>
						<li><a href="/search/?search_box=Short">Shorts</a></li>
						<li><a href="/search/?search_box=Shirt">Shirts</a></li>
					</ul>
				</div>
				
				

			</div>
			<div class="new-product" style="min-height: initial; margin-bottom: 2em;">
			
				<div class="col-md-5 zoom-grid">
					
						<div class="thumb-image"  > 
						<img src="{{ product.img.url }}"  data-imagezoom="true" class="img-responsive" alt="{{ product.img.url }}" /> </div>
					
				</div>
				<div class="col-md-7 dress-info">
					<div class="dress-name">
						
					
						{% if product.stock > 0%}
						<h3>{{product.title}}</h3>
						<span>${{product.price}}</span>
						<div class="clearfix"></div>
						<p>Style Number {{product.id}}</p>
						<p>Stok {{product.stock}}</p>
						{% else %}
						<h3>{{product.title}}</h3>
						
						<div class="clearfix"></div>
						<p>Style Number {{product.id}}</p>
						<p>Out of stock</p>
						{% endif %}
						<p>{{product.description}}</p>
					</div>
					<div class="span span1">
						<p class="left">FABRIC ORIGIN</p>
						<p class="right">{{product.manufacturer}}</p>
						<div class="clearfix"></div>
					</div>
					
					<div class="span span2">
						<p class="left">COLOR</p>
						<p class="right">{{product.color}}</p>
						<div class="clearfix"></div>
					</div>
					{# <div class="col-md-14 login-right wow fadeInRight"> #}
					
					<form action="{% url 'cart:CartAdd' product.id %}" method="post">
					{% csrf_token %}

						<div class="span span3">
    					<p class="left">{{ cart_product_form.name }}</p><p class="right">{{cart_product_form.quantity}}{{cart_product_form.update}}</p>
    					</div>
    					<div class="span span2">
    					<div class="col-md-14 login-right wow fadeInRight">
    					<p class="left">
    						<input type="submit" value="Add to cart">
    					</p>
						</div>
						<div class="clearfix"></div></div>
					</form>
					
					
				<div class="col-sm-3" style="float:right; padding-left: 0px;">
        
      </div>
				</div>
				<div class="clearfix"></div>
				</div>
				<!--!!!!!!!!!!!!!!!!!!!!!!-->
	<div class="reviews-tabs">
      
      </div>
      </div>
      </div>

<!-- <h3 class="head text-center" >Comments({{ product.comments.count }})</h3> -->
<h3 class="head text-center" >Comments</h3>
	<div class="container" style="">
        <div style="display: flex; margin: 2em; align-items: center; justify-content: center;
    overflow: auto;"><a href="{% url 'shop:add-comment' pk=product.pk slug=product.slug %}"  
         class="acount-btn" style="background: rgba(129, 98, 99, 0.21);
    color: #816263;font-size: 14px;  margin-bottom: : 1em;" type="submit">ADD COMMENT</a></div>
      <div class="product simpleCart_shelfItem " style="">
      <div class="tab-content responsive hidden-xs hidden-sm">
        <div class="tab-pane1">

        {%for comment in product.comments.all %}
        {% if user.is_authenticated or comment.approved_comment%}
          <div id="tb-testimonial" class="testimonial testimonial-default">
              
            {% if not comment.approved_comment and user.is_superuser%}
                      <div class="response" style="margin-bottom:1em;">
                        <div class="media response-info" style="overflow: initial;">
                          
                          <div class="media-body response-text-right" style="background-color: rgba(245, 243, 243, 0.27);padding: 1em; overflow: initial; padding-top: 0; letter-spacing: 0.07em; width: 60%; margin: auto; display: block;">
                          	<h5>{{comment.author}}</h5>
                            <p>{{comment.text}}</p>
                            <ul>
                              <li>{{comment.created_date}}</li>
                              <li><a class="btn btn-default" href="{% url 'shop:comment_remove' pk=comment.pk slug=product.slug %}"><span class="glyphicon glyphicon-remove">REMOVE</span></a>
                      <a class="btn btn-default" href="{% url 'shop:comment_approve' pk=comment.pk slug=product.slug %}"><span class="glyphicon glyphicon-ok">APPROVE</span></a></li>
                            </ul>
                          </div>
                          <div class="clearfix"> </div>
                        </div>
        
                      </div>
                      


            {% endif %}
            {% if comment.approved_comment %}

                      <div class="response" style="margin-bottom:1em;">
                        <div class="media response-info" style="overflow: initial;">
                          
                          <div class="media-body response-text-right" style="background-color: rgba(245, 243, 243, 0.27);padding: 1em; overflow: initial; padding-top: 0; letter-spacing: 0.07em; width: 60%; margin: auto; display: block;">
                          
                            <h4>{{comment.author}}</h4>
                            <p style="color: #816263; ">{{comment.text}}</p>
                            <ul>
                              <li>{{comment.created_date}}</li>
                              
                            </ul>
                          </div>
                          <div class="clearfix"> </div>
                        </div>
        
                      </div>

            {% endif %}
          </div>
        {% endif %}


        {% endfor %}
         {% if not comment.approved_comment and post.comments.count == 0%} 
          <p>No comments here yet :(</p>
        {%endif%}

      							</div>
							</div>
          
      					  
  					</div>
	     		</div><!--!!!!!!!!!!!!!!!!!!!!-->
			

			<div class="clearfix"></div>

			</div>
   </div>
  
	
 
{% endblock content %}